* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.svg text eol=lf

*.ai binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.webp binary
*.zip binary
